/* src/styles.css */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f6f8;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #2196f3;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

.sidebar {
  background-color: #1c1c1c;
  color: white;
  width: 240px;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 10px 0;
}

.sidebar a:hover {
  color: #2196f3;
}

.main-content {
  margin-left: 240px;
  padding: 20px;
  flex-grow: 1;
}

.main-content .MuiGrid-container {
  margin-top: 20px;
}

.footer {
  background-color: #2196f3;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 60px;
  }

  .sidebar a {
    font-size: 12px;
  }

  .main-content {
    margin-left: 60px;
  }
}
